<nav class="navbar navbar-admin navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="sidebar-logo">
            Project Name
          </div>
      <div class="navbar-nav infoAdmin">
        <a class="nav-link" href="#">message</a>
        <a class="nav-link" href="#">charly</a>
      </div>
    </div>
  </nav>

<div class="sidebar-container">
    
    <ul class="sidebar-navigation">
      <li>
        <a href="/admin">
          <i class="fa fa-home" aria-hidden="true"></i> Accueil
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Paramètre
        </a>
      </li>
      <li class="header">Menu</li>
      <li>
        <a href="/admin/addcar">
          <i class="fa fa-users" aria-hidden="true"></i> Ajouter une voiture
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-users" aria-hidden="true"></i> Ajouter un constructeur
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-cog" aria-hidden="true"></i> liste des utilisateurs
        </a>
      </li>
    </ul>
  </div>