<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<div class="sidebar-container">
    <div class="sidebar-logo">
      Project Name
    </div>
    <ul class="sidebar-navigation">
      <li class="header">Navigation</li>
      <li>
        <a href="#">
          <i class="fa fa-home" aria-hidden="true"></i> Accueil
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Tableau de bord
        </a>
      </li>
      <li class="header">Menu</li>
      <li>
        <a href="#">
          <i class="fa fa-users" aria-hidden="true"></i> Ajouter une voiture
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-users" aria-hidden="true"></i> Ajouter un constructeur
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-cog" aria-hidden="true"></i> liste des utilisateurs
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Paramètre 
        </a>
      </li>
    </ul>
  </div>


<%- include('partials/footer.ejs') %>