<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<%- include('partials/navbarAdmin.ejs') %> 

<div class="container accueilAdmin">
    <div class="statAccueil">
        <div class="stats numberbenef">

        </div>

        <div class="stats numberVisitor">

        </div>
        
        <div class="stats numbervente">

        </div>
    </div>
</div>




<%- include('partials/footer.ejs') %>