<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<%- include('partials/navbarAdmin.ejs') %> 

<div class="accueilAdmin">
    <div class=" container statAccueil">
        <div class="stats numberbenef">
            <div class="title-stats">
                <h2>Bénéfice</h2>
            </div>
            <h3>4 450 150</h3>
        </div>

        <div class="stats numberVisitor">
            <div class="title-stats">
                <h2>Visiteurs</h2>
            </div>
            <h3>12 500</h3>

        </div>
        
        <div class="stats numbervente">
            <h2>Ventes</h2>
            <h3>725</h3>
        </div>
    </div>
</div>




<%- include('partials/footer.ejs') %>