<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>


<header class="header-home">

        <a class="link-new" href="/">Découvrer la nouvelle EQS</a>
        <img class="img-new" src="../img/mercedes-eqs.png" alt="" height="0%" width="80%" >

</header>

















<%- include('partials/footer.ejs') %>