.accueilAdmin{
    margin-left: 320px;
    width: 100%;
}

.statAccueil{
    display: flex;
    flex-direction:row;
    justify-content: baseline;
}

.stats{
    height: 200px;
    width: 450px;
}

.numberVisitor{
    background: red;
}
.numberbenef{
    background: blue;
}
.numbervente{
    background: green;
}