.accueilAdmin{
    margin: 30px 0 0 100px;
    width: 100%;
}

.statAccueil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats{
    height: 200px;
    width: 350px;
}

.numberVisitor{
    background: red;
}
.numberbenef{
    background: blue;
}
.numbervente{
    background: green;
}