.header-home{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 70px;

}
.header-home .img-new{
    text-align: center;
    height: auto;
    width: 70%;
    border-radius: 10px;
    
}

.link-new{
    position: absolute;
    top: 15%;
    left: 18%;
    color: #ffffff;
    font-size: 160%;
    padding: 5px 10px 5px 10px ;
    transition: 500ms;
}
.link-new:hover{
    color: #ffffff;
    background: #fd683b;
    text-decoration: none;
    border-radius: 10px;
    transition: 500ms;
}